<h1 style="color:blue">Les corsaires</h1>
<p>C'est nous <b>les corsaires</b></p>
<img src="https://www.horreur.net/sites/default/files/styles/principale/public/upload/les_corsaires_2.jpg?itok=u-cFsFde" alt="corsaires">
