<p>Salut</p>
<h1>Test titre niveau 1</h1>
<h2>titre de niveau 2</h2>
<h6>Jusqu'a 6 niveau</h6>
<hr> 
<p>Test <br> saut de ligne</p>
<p><b>Paragraphe important</b></p>
<p><strong>Mot important</strong></p>
<p><strong>Mot important</strong></p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, molestiae?</p>
<p style="color:red">Lorem ipsum,</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon">
