*{margin: 0;padding: 0;}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
p{
    line-height:40px;
  }
p3{
    margin-left:150px;
}
p4{
    margin-left:500px;
}
p5{
    margin-left:1050px;
    
}
h1{
    background-color:#CEE437;
}
h2, footer {
    background-color:red;
}
.ccm{
    position: absolute; 
    top : 189px; 
    left: 200px;
}
.ecm{
    position: absolute; 
    top : 189px; 
    left: 650px;
}
.sable{
    background-color: #CEE437;
}
.taille{
    font-size: 10px;
}